.scroll {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: rgb(255, 255, 255);
  width: 1250px;
}

.progressContainer {
  width: 100%;
  height: 8px;
  background: rgb(255, 255, 255);
}

.progressBar {
  height: 8px;
  background: rgb(172, 29, 55);
  width: 0%;
}

.scrollContainer {
  top:0;
  display: flex;
  height: 50px;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: rgb(255, 255, 255);
  background-color: rgb(243, 243, 243);
  justify-content: center; 
}
