.slide img {
  width: 100%;
  height: 100%;
}

.leftPanel {
  width: 70%;
}

.rightPanel {
  width: 30%;
}

.leftPanel {
  width: 826px;
  background-color: rgb(255, 255, 255);
}

.interiorDiv {
  background-color: rgb(243, 243, 243);
}

.leftPanel .slideInfo {
  display: none;
}

.interiorInfo {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.interiorInfo h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 0.857;
  text-align: left;
}

.articlePageLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1250px; 
    margin: 0 auto; 
}