.articleDiv {
  display: flex;
  flex-direction: column;
}

.articleLayout {
  width: 398px;
  height: 100px;
  background-color: rgb(243, 243, 243);
}

.articleLink {
  margin: 1em;
  font-size: 0.8em;
}
