body, html {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: 'Raleway', sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  font-size: 1rem/16;
  margin-top: 50px;
}

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 10px;
}

li {
  font-size: 0.8rem;
  margin-bottom: 8px;
  text-align: center;
  color: #959595;
}

li:last-of-type {
  margin-bottom: 50px;
}

.cardGrid {
  display: flex;
  flex-direction: row;
}

.Card {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 371px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 3px 0 #ebebeb;
  margin: 10px;
  text-align: center; 
}

.searchBar {
  text-align: center;
  margin: 5px 0;
  border: 1px solid #c4c4c4;
  height: 20px;
  color: #575757;
  border-radius: 3px;
}

.searchBar:focus {
  outline-width: 0;
}

.searchBar::placeholder {
  color: #dadada;
}

.cardDiv {
  display: flex;
  max-width: 1300px;
  width: 100%;
  flex-wrap: wrap;
}

.searchBarDiv {
  display: flex;
  flex-direction: row;
}

.searchBarTitle {
  margin: 0;
  padding-right: 10px;
}
