.selectors {
  position: absolute;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.selectors .selector {
  border: 1px solid #fff;
  background: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 5px 0;
  opacity: 0.6;
  cursor: pointer;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.selectors .selector:hover, .selectors .selector.active {
  background: white;
  opacity: 0.9;
}
