.cardGrid {
  display: flex;
  flex-direction: row;
}

.Card {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 371px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 3px 0 #ebebeb;
  margin: 10px;
  text-align: center;
}

.searchBar {
  text-align: center;
  margin: 5px 0;
  border: 1px solid #c4c4c4;
  height: 20px;
  color: #575757;
  border-radius: 3px;
}

.searchBar:focus {
  outline-width: 0;
}

.searchBar::placeholder {
  color: #dadada;
}

.cardDiv {
  display: flex;
  max-width: 1300px;
  width: 100%;
  flex-wrap: wrap;
}

.searchBarDiv {
  display: flex;
  flex-direction: row;
}

.searchBarTitle {
  margin: 0;
  padding-right: 10px;
}
