.css-10nd86i {
  width: 100%;
}

.dropdownSubmit {
  border: none;
  background-color: rgb(172, 29, 55);
  color: #fff;
  width: 134px;
  height: 46px;
}

.dropdownSelect {
  width: 245px;
  height: 46px;
  border-color: rgb(206, 206, 206);
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  margin-right: 1em;
}

.dropdownLayout {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.dropdownPage {
  margin-top: 2em;
}
