.cardGrid {
    background-color: rgba(139, 141, 141, 0.102);
    padding-top: 2em;
}

.Card {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.searchBar {
    text-align: center;
    margin: 5px 0;
    border: 1px solid #c4c4c4;
    height: 20px;
    color: #575757;
    border-radius: 3px;
}

    .searchBar:focus {
        outline-width: 0;
    }

    .searchBar::placeholder {
        color: #dadada;
    }

.cardDiv {
    display: flex;
    margin: 0.6em;
}

.searchBarDiv {
    display: flex;
    flex-direction: row;
}

.searchBarTitle {
    margin: 0;
    padding-right: 10px;
}

.cardImg {
    width: 290px;
    height: 160px;
    margin-bottom: 0;
}

.cardLayout {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    flex-wrap: wrap;
}

.cardDescription {
    font-size: 12px;
    color: rgb(18, 75, 127);
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
}

.imgLikes {
    margin: 0 auto;
}

.imgInfo {
    margin: 0 auto;
}

.dotsDiv {
    display: flex;
    flex-direction: row;
    z-index: 999;
    position: absolute;
    right: 5%;
    top: 87%;
}

.loadMoreBtn {
    height: 62px;
    width: 100%;
    opacity: 0.8;
    background-color: rgb(231, 231, 231);
    color: rgb(18, 75, 127);
    font-weight: bold;
    font-size: 18px;
    line-height: 1.333;
    border: none;
    margin-top: 2em;
}

.searchPage {
    background-color: rgba(139, 141, 141, 0.102);
}

.main-content {
    margin-bottom: 2em;
}
